<ion-app>
    <ion-menu side="start" menuId="first" contentId="main">
      <ion-header class="header-app">
        <ion-img class="logo-header-menu" src="assets/imgs/logo.png"></ion-img>
      </ion-header>
      <ion-content>

            <ion-list *ngFor="let p of appPages">
              <ion-item class="fondomenu" [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon" class="color-blanco"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>