<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>&nbsp; Inicio</ion-label>
    </ion-tab-button>
<!--     <ion-tab-button tab="ahorro">
      <ion-icon name="basket-outline"></ion-icon>
      <ion-label>Ahorro</ion-label>
      <ion-badge color="secondary">6</ion-badge>
    </ion-tab-button> -->

    <ion-tab-button tab="precio">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Precios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="noticia">
      <ion-icon name="megaphone-outline"></ion-icon>
      <ion-label>Noticias</ion-label>
    </ion-tab-button>

<!--     <ion-tab-button tab="temporada">
      <ion-icon name="hourglass-outline"></ion-icon>
        <ion-label>Temporada</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>
</ion-tabs>
