:host {

    ion-slides {
        height: 100%;
      }



    ion-content {

      --background: #fff url('../../../assets/imgs/fondo-app.png') no-repeat center center / cover;
    }
    ion-item.fondomuni{
          --background: var(--ion-item-background,var(--ion-background-color,rgba(0, 0, 0, 0.9)));
    }
    ion-card-subtitle{
      font-family: "Seravek" !important;
      font-weight: normal;
      color: #000;
    }
    ion-card-title{
      font-family: "Seravek" !important;
      font-weight: bold;
      color: #000;
      font-size: 1.1em;
    }






    ion-segment {
        justify-content: space-between;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }

        ion-segment-button.segment-button {
            flex: 1 0 100px;
        }
    }
  }
